// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Yudget color scheme
$blue-button: #4B6587;
$body-white-background: #F7F6F2;
$main-page: #F0E5CF;
$main-page-light-blue: #4B6587;
$navbars: #F0E5CF;
