#category .card:hover {
  background-color: #4C6487;
  a {
  color: #F7F6F1;
  text-decoration: none;
  }
}

#category .card {
  width: 80%;
  margin: 40px auto;
  height: 100px;
  border-color: #4C6487;
  border-width: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#categories-header {
  font-size: 60px;
  letter-spacing: 8px;
  margin: 30px;
}
