#category .card:hover {
  background-color: #4C6487;
  text-decoration: none;
  color: #F7F6F1;
}

#category a {
  text-decoration: none;
}

#category .card {
  width: 80%;
  margin: 30px auto;
  height: 80px;
  border-color: #4C6487;
  border-width: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#categories-header {
  font-size: 60px;
  letter-spacing: 8px;
  margin: 20px;
}

#categoryeach {
  font-size: 40px;
  letter-spacing: 4px;
}
