
<div id="category">
<h1 id="categories-header"><center>categories</center></h1>
<div id="categories">
<% @categories.each do |category| %>
<div class="card">
  <div class="container">
    <h1><center> <%= link_to "#{category}", places_path(:category => category, :spot => @spot) %></center></h1>
  </div>
</div>
<% end %>
</div>
</div>
