
<div id="category">
<h1 id="categories-header"><center>what are you looking for?</center></h1>
<div id="categories">
<% @categories.each do |category| %>
<%= link_to places_path(:category => category, :spot => @spot) do %>
  <div class="card">
    <h1 id="categoryeach"><%= category %></h1>
  </div>
<% end %>
<% end %>

</div>
</div>
