.navbar-lewagon {
  justify-content: space-between;
  background: #F0E5D0;
  height: 110px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

#navbarSupportedContent {
  margin-right: 40px;
}

.addyudget {
  margin-right: 15px;
}

.nav-darkblue a{
  position: relative;
  z-index: 4;
  color: #F7F6F2;
}

.navbar-light .navbar-nav .nav-link {
  color: #F7F6F2;
}
