#show .card {
border-width: 6px;
border-color:#4B6587;
background-color:#F7F6F2;
margin: 40px auto;
padding: 32px;
margin-top: 50px;
height: auto;
}
#upvote {
margin-left: 250px;
position: relative;
top: 17px;
}
#youdget {
margin-left: 300px;
font-size: 60px;
text-decoration: underline;
color: #4B6587;
}
#vote_counter {
font-size: 20px;
position: absolute;
top: 50px;
left: 40%;
}
.btn-primary {
  height: 40px;
  width: 250px;
  padding-top: 7px;
}

h3{
font-family: 'IBM Plex Sans Arabic', sans-serif;
}
#photoborder {
  border-width: 4px;
  border-color: black;
}
