<div id="map"
     style="width: 80%; height: 600px; margin-left: 150px; margin-top: 50px; border: 4px solid #4C6487; "
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
